{% extends 'tikhinuch4/base.html' %}

{% block content %}

    <div class="masthead">

        <!-- starts carousel -->

        {#        <div id="masthead-carousel" class="carousel slide carousel-fade masthead-carousel">#}
        {#          <div class="carousel-inner">#}

        <div class="item active" style="background-color: #354b5e;">

            <br class="xs-30 sm-60">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 masthead-text animated fadeInDownBig">
                        <h4 class="masthead-title">חוקרים את עולם החינוך.</h4>

                        <p>
                            מה משפיע על החינוך בישראל? מה יודעים תלמידי בית הספר? האם יש פער דיגיטלי? האם ישראל משתפרת
                            או מתדרדרת?
                        </p>

                        <br class="xs-30 sm-60">


                        {#                    <div class="masthead-actions">#}
                        {#                      <a href="./page-tour.html" class="btn btn-transparent btn-jumbo">#}
                        {#                      Learn More#}
                        {#                      </a>#}
                        {##}
                        {#                      <a href="./account-signup.html" class="btn btn-primary btn-jumbo">#}
                        {#                      Create an Account#}
                        {#                      </a>#}
                        {##}
                        {#                    </div> <!-- /.masthead-actions -->#}

                    </div> <!-- /.masthead-text -->

                    {#                  <br class="xs-30 md-0">#}
                    {##}
                    {#                  <div class="col-md-6 masthead-img animated fadeInUpBig">#}
                    {#                    <img src="img/masthead/mobile.png" alt="slide2" class="img-responsive" />#}
                    {#                  </div> <!-- /.masthead-img -->#}

                </div> <!-- /.row -->

            </div> <!-- /.container -->

            {#            </div> <!-- /.item -->#}
            {##}
            {#          </div>  <!-- /.carousel-inner -->#}
            <!-- Carousel nav -->


            <div class="container">
                <div class="carousel-controls">
                    <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>

        </div> <!-- /.masthead-carousel -->

    </div> <!-- /.masthead -->



    <div class="content">

        <section id="section-features" class="home-section">

            <br class="sm-30">

            <div class="container">
{##}
{#                <div class="heading-block heading-minimal heading-center">#}
{#                    <h1>#}
{#                        מהו תיק חינוך?#}
{#                    </h1>#}
{#                </div> <!-- /.heading-block -->#}


                <div class="feature-lg">

                    <div class="row">

                        <div class="col-sm-8">
                            <figure class="feature-figure">
{#                                <iframe width="850" height="400" frameborder="0" scrolling="no"#}
{#                                        src="http://104.155.66.98/shiny/tikhinuch/?tab=Pisa1"></iframe>#}
                            </figure>
                            {#                <figure class="feature-figure"><img src="./img/homepage-features/feature-1.png" class="img-responsive figure-shadow center-block"  style="width: 90%;" alt=""></figure>#}
                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            <br class="xs-30 sm-0">

                            <div class="feature-content">

                                {#                  <h3>Measure everything with a few clicks</h3>#}
                                <h3>הישגי התלמידים עולים</h3>

                                <p class="lead">החל משנת 2012 ניתן לראות שינוי במגמה.</p>

                                <p>המגמה מתבטאת בכל תחומי הדעת. חקרו בעצמכם.</p>
                                <ul class="icons-list">
                                    <li >
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        80 Countries.
                                    </li>
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        500,000 children.
                                    </li>
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        20,000 schools.
                                    </li>
                                </ul>
                                {#                  <a href="./page-tour.html" class="btn btn-default">Learn More</a>#}
                            </div> <!-- /.feature-content -->
                        </div><!-- /.col -->

                    </div> <!-- /.row -->

                </div> <!-- /.feature-lg -->


                <br class="xs-50 lg-100">


                <div class="feature-lg figure-right">

                    <div class="row">
                        <div class="col-sm-8 col-sm-push-8">
                            <figure class="feature-figure">
{#                                <iframe width="850" height="400" frameborder="0" scrolling="no"#}
{#                                        src="http://104.155.66.98/shiny/tikhinuch/?tab=Pisa2"></iframe>#}
                            </figure>
                        </div><!-- /.col -->

                        <div class="col-sm-4 col-sm-pull-4">

                            <br class="xs-30 sm-0">

                            <div class="feature-content">
                                <h3>Phasellus fermentum in dolor tesque facilisi</h3>

                                <p class="lead">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                    ipsum, nec sagittis.</p>

                                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor.
                                    Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped
                                    modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et
                                    consent accullignis lib dentibea autem inisita.</p>
                                <ul class="icons-list">
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        Tumquam core posae volor remped modis volor
                                    </li>
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        Non restibusaes dem tumquam
                                    </li>
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        Modipsae que lib voloratati andigen daepeditem
                                    </li>
                                </ul>
                                <a href="./page-tour.html" class="btn btn-default">Learn More</a>
                            </div> <!-- /.feature-content -->
                        </div><!-- /.col -->

                    </div> <!-- /.row -->

                </div> <!-- /.feature-lg -->


                <br class="xs-50 lg-100">

                <div class="feature-lg">

                    <div class="row">

                        <div class="col-sm-8">
                            <figure class="feature-figure">
{#                                <iframe width="850" height="400" frameborder="0" scrolling="no"#}
{#                                        src="http://104.155.66.98/shiny/tikhinuch/?tab=Analyse"></iframe>#}
                            </figure>
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <br class="xs-30 sm-0">

                            <div class="feature-content">
                                <h3>Phasellus fermentum in dolor tesque facilisi</h3>

                                <p class="lead">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                    ipsum, nec sagittis.</p>

                                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor.
                                    Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped
                                    modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et
                                    consent accullignis lib dentibea autem inisita.</p>
                                <ul class="icons-list">
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        Tumquam core posae volor remped modis volor
                                    </li>
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        Non restibusaes dem tumquam
                                    </li>
                                    <li>
                                        <i class="icon-li fa fa-check text-primary"></i>
                                        Modipsae que lib voloratati andigen daepeditem
                                    </li>
                                </ul>
                                <a href="./page-tour.html" class="btn btn-default">Learn More</a>
                            </div> <!-- /.feature-content -->
                        </div><!-- /.col -->

                    </div> <!-- /.row -->

                </div> <!-- /.feature-lg -->

            </div> <!-- /.container -->

        </section>

{##}
{#        <section id="section-benefits" class="home-section" style="background-color: #f3f3f3;">#}
{##}
{#            <div class="container">#}
{##}
{#                <div class="heading-block heading-minimal heading-center">#}
{#                    <h1>#}
{#                        PISA Research#}
{#                    </h1>#}
{#                </div> <!-- /.heading-block -->#}
{##}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-anchor feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Numbers</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-ils feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Topics</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-gift feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Minim veniam</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                </div> <!-- /.row -->#}
{##}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-code feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Nostrud exercitation</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-comments-o feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Sed do eiusmod</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-cloud-download feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Adipisicing elit</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                </div> <!-- /.row -->#}
{##}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-crosshairs feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Quis nostrud exercitation</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-rocket feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Incididunt ut labore</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{#                        <div class="feature-sm">#}
{#                            <i class="fa fa-star feature-sm-icon text-secondary"></i>#}
{##}
{#                            <h3 class="feature-sm-label">Enim ad minim</h3>#}
{##}
{#                            <p class="feature-sm-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation.#}
{#                            </p>#}
{#                        </div> <!-- /.feature-sm -->#}
{#                    </div> <!-- /.col -->#}
{##}
{#                </div> <!-- /.row -->#}
{##}
{#            </div> <!-- /.container -->#}
{##}
{#        </section>#}
{##}
{##}
{#        <section id="section-testimonials" class="home-section">#}
{##}
{#            <div class="container">#}
{##}
{#                <div class="heading-block heading-minimal heading-center">#}
{#                    <h1>#}
{#                        Trusted by Thousands#}
{#                    </h1>#}
{#                </div> <!-- /.heading-block -->#}
{##}
{#                <ul class="clients-list">#}
{#                    <li>#}
{#                        <img src="../../global/img/clients/logo1-grayscale.png" class="img-responsive"#}
{#                             alt="Client Logo">#}
{#                    </li>#}
{#                    <li>#}
{#                        <img src="../../global/img/clients/logo2-grayscale.png" class="img-responsive"#}
{#                             alt="Client Logo">#}
{#                    </li>#}
{#                    <li>#}
{#                        <img src="../../global/img/clients/logo3-grayscale.png" class="img-responsive"#}
{#                             alt="Client Logo">#}
{#                    </li>#}
{#                    <li>#}
{#                        <img src="../../global/img/clients/logo4-grayscale.png" class="img-responsive"#}
{#                             alt="Client Logo">#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <br class="xs-60">#}
{##}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-sm-4">#}
{##}
{#                        <div class="testimonial">#}
{##}
{#                            <div class="testimonial-icon bg-secondary">#}
{#                                <i class="fa fa-quote-left"></i>#}
{#                            </div> <!-- /.testimonial-icon -->#}
{##}
{#                            <div class="testimonial-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo#}
{#                                consequat. Duis aute irure dolor in reprehenderit.#}
{#                            </div> <!-- /.testimonial-content -->#}
{##}
{#                            <div class="testimonial-author">#}
{#                                <div class="testimonial-image"><img alt=""#}
{#                                                                    src="../../global/img/avatars/avatar-3-md.jpg">#}
{#                                </div>#}
{##}
{#                                <div class="testimonial-author-info">#}
{#                                    <h5><a href="#">Adelle Charles</a></h5> @adellecharles#}
{#                                </div>#}
{#                            </div> <!-- /.testimonial-author -->#}
{##}
{#                        </div> <!-- /.testimonial -->#}
{##}
{#                        <br class="xs-30">#}
{##}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{##}
{#                        <div class="testimonial">#}
{##}
{#                            <div class="testimonial-icon bg-secondary">#}
{#                                <i class="fa fa-quote-left"></i>#}
{#                            </div> <!-- /.testimonial-icon -->#}
{##}
{#                            <div class="testimonial-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo#}
{#                                consequat. Duis aute irure dolor in reprehenderit.#}
{#                            </div> <!-- /.testimonial-content -->#}
{##}
{#                            <div class="testimonial-author">#}
{#                                <div class="testimonial-image"><img alt=""#}
{#                                                                    src="../../global/img/avatars/avatar-4-md.jpg">#}
{#                                </div>#}
{##}
{#                                <div class="testimonial-author-info">#}
{#                                    <h5><a href="#">Peter Landt</a></h5> @peterlandt#}
{#                                </div>#}
{#                            </div> <!-- /.testimonial-author -->#}
{##}
{#                        </div> <!-- /.testimonial -->#}
{##}
{#                        <br class="xs-30">#}
{##}
{#                    </div> <!-- /.col -->#}
{##}
{#                    <div class="col-sm-4">#}
{##}
{#                        <div class="testimonial">#}
{##}
{#                            <div class="testimonial-icon bg-secondary">#}
{#                                <i class="fa fa-quote-left"></i>#}
{#                            </div> <!-- /.testimonial-icon -->#}
{##}
{#                            <div class="testimonial-content">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo#}
{#                                consequat. Duis aute irure dolor in reprehenderit.#}
{#                            </div> <!-- /.testimonial-content -->#}
{##}
{#                            <div class="testimonial-author">#}
{#                                <div class="testimonial-image"><img alt=""#}
{#                                                                    src="../../global/img/avatars/avatar-5-md.jpg">#}
{#                                </div>#}
{##}
{#                                <div class="testimonial-author-info">#}
{#                                    <h5><a href="#">Enda Nasution</a></h5> @enda#}
{#                                </div>#}
{#                            </div> <!-- /.testimonial-author -->#}
{##}
{#                        </div> <!-- /.testimonial -->#}
{##}
{#                    </div> <!-- /.col -->#}
{##}
{#                </div> <!-- /.row -->#}
{##}
{#            </div> <!-- /.container -->#}
{##}
{#        </section>#}
{##}
{##}
{#        <section id="section-contact" class="home-section"#}
{#                 style="background-color: #f3f3f3; padding-top: 35px; padding-bottom: 35px;">#}
{##}
{#            <div class="container">#}
{##}
{#                <div class="row">#}
{#                    <div class="col-sm-8">#}
{#                        <h2>Let be in touch</h2>#}
{##}
{#                        <p class="lead">We will glad to hear your: 1. Ideas of what we should do.#}
{#                            2. Comments on what we do and statistical mistakes.#}
{#                            3. Bugs. if your browser doesnt present some of the data we will glad to know. </p>#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-4 text-center">#}
{#                        <br class="xs-30">#}
{##}
{#                        As we say, currently the system focused on PISA, but it can be used also for other researches,#}
{#                        like PEAC, TIMS and more. This is whay we called it "education filles". This is what we plan to#}
{#                        do in the future. I you want to hlp us with that, you are welcome.#}
{#                        <br class="xs-20">#}
{##}
                        {#              <a href="./page-pricing-plans.html" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;Signup Today!&nbsp;&nbsp;&nbsp;&nbsp;</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div> <!-- /.container -->#}
{##}
{#        </section>#}

    </div> <!-- /.content -->


    </div> <!-- /#wrapper -->


{% endblock content %}