<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open PISA - OECD PISA 2015 Data Explorer Platform">
    <meta name="author" content="Avner Kantor">

    <title>Open PISA|פיז"ה פתוח</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/shiny-singletons"></script>
    <script type="application/html-dependencies">
        json2[2014.02.04];
        jquery[1.12.4];
        shiny[0.14.1];
        selectize[0.11.2];
        bootstrap[3.3.7];
        htmlwidgets[0.7];
        plotlyjs[1.16.3];
        plotly-binding[4.5.5.9000]


    </script>
    <script src="shared/json2-min.js"></script>
    <script src="shared/jquery.js"></script>
    <link href="shared/shiny.css" rel="stylesheet"/>
    <script src="shared/shiny.js"></script>
    <link href="shared/selectize/css/selectize.bootstrap3.css" rel="stylesheet"/>
    <script src="shared/selectize/js/selectize.min.js"></script>
    <script src="js/htmlwidgets.js"></script>
    <link href="css/plotly-htmlwidgets.css" rel="stylesheet"/>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/plotly.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/datatables.js"></script>
    <!--
    <link href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.12/i18n/Hebrew.json"></script>
-->
    <link href="shared/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="shared/bootstrap/js/bootstrap.min.js"></script>
    <script src="shared/bootstrap/shim/html5shiv.min.js"></script>
    <script src="shared/bootstrap/shim/respond.min.js"></script>

    <link href="style.css" rel="stylesheet">
    <script src="custom.js"></script>
    <link rel="short/cut icon" href="img/bag-512.png">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87112563-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">
<!--Navbar and Dashboard-->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.trump.org.il/"><img id="TrumpLogo" src="img/Trump-logo.png"></a>
            <a class="navbar-brand" href="http://infosoc.haifa.ac.il/index.php/he/"><img id="IC_logo"
                                                                                         src="img/IC_logo.png"></a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section
  <li class="hidden">
      <a class="page-scroll" href="#page-top"></a>
  </li>
  <li>
      <a class="page-scroll" href="http://opisa.org">English</a>
  </li>-->
                <li>
                    <a class="page-scroll" href="http://blog.opisa.org">בלוג</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">אודות</a>
                </li>
                <!--<li>
                    <a class="page-scroll" href="#analyze">מתאם</a>
                </li>-->
                <li>
                    <a class="page-scroll" href="#survey">אקלים</a>
                </li>
                <!--<li>-->
                <!--<a class="page-scroll" href="#heterogeneity">פיזור</a>-->
                <!--</li>-->
                <li>
                    <a class="page-scroll" href="#expertise">בקיאות</a>
                </li>
                <li>
                    <a class="page-scroll" href="#scores">הישגים</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<header>
    <div id="myHeader">
        <div class="header-image"></div>
        <div class="text-image">מה מספר מבחן פיז"ה על החינוך</div>
        <div class="underHeaderText">
            המחקר הבין-לאומי בוחן רמת אורינות של תלמידי כיתה י' במספר מקצועות.            <!--<br>-->
            ניתוח הנתונים מראה את התקדמות מערכת החינוך בישראל ובעולם.
        </div>
    </div>
</header>
<!--Dashboard-->
<div id="dashboard--wrap">
    <div id="dashboard" class="container-fluid">
        <br/>
        <div id="Subject"
             class="row text-center form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
            <div class="shiny-options-group">
                <form class="form-horizontal" method="post" action="">
                    <div data-toggle="buttons">
                        <div class="subjectButtons">
                            <label class="radio-inline btn btn-default btn-circle btn-lg text-center active">
                                <input type="radio" name="Subject" value="Math" checked="checked"/>
                                <span><img src="img/math.png" class="subjectImage "></span>
                            </label>
                            <small>אורינות מתמטיקה</small>
                        </div>
                        <div class="subjectButtons">
                            <label class="radio-inline btn btn-default btn-circle btn-lg text-center">
                                <input type="radio" name="Subject" value="Science"/>
                                <span><img src="img/science.png" class="subjectImage"></span>
                            </label>
                            <small>אורינות מדעים</small>
                        </div>
                        <div class="subjectButtons">
                            <label class="radio-inline btn btn-default btn-circle btn-lg text-center">
                                <input type="radio" name="Subject" value="Reading"/>
                                <span><img src="img/reading.png" class="subjectImage"></span>
                            </label>
                            <small>אורינות קריאה</small>
                        </div>
                        <div class="subjectButtons">
                            <label class="radio-inline btn btn-default btn-circle btn-lg text-center">
                                <input type="radio" name="Subject" value="ProblemSolving"/>
                                <span><img src="img/problemSolving.png" class="subjectImage"></span>
                            </label>
                            <small>פתרון בעיות</small>
                        </div>
                        <div class="subjectButtons" style="width: 90px">
                            <label class="radio-inline btn btn-default btn-circle btn-lg text-center">
                                <input type="radio" name="Subject" value="Financial"/>
                                <span><img src="img/financial.png" class="subjectImage"></span>
                            </label>
                            <small>אורינות פיננסית</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="surveyDashboard" class="row">
            <div class="col-xs-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="SurveySubCategory"></label>
                    <div>
                        <select id="SurveySubCategory">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="SurveySubCategory">{}</script>
                    </div>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="SurveyCategory"></label>
                    <div>
                        <select id="SurveyCategory">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="SurveyCategory">{}</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="SurveySubject"></label>
                    <div>
                        <select id="SurveySubject">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="SurveySubject">{}</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="SurveyYear"></label>
                    <div>
                        <select id="SurveyYear">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="SurveyYear">{}</script>
                    </div>
                </div>
            </div>

        </div>
        <div id="measurmentsDashboard" class="row">
            <div class="hidden-xs hidden-sm col-md-3"></div>
            <div id="escsDiv" class="col-xs-6 col-sm-4 col-md-3">
                <!--<small>רקע חברתי-תרבותי-כלכלי</small>-->
                <small>
                    <a href="#" data-toggle="tooltip" title="הרקע מחושב על בסיס שאלונים שמעוברים לתלמידים">
                        רקע חברתי-תרבותי-כלכלי
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a></small>
                <div id="Escs"
                     class="form-group shiny-input-checkboxgroup shiny-input-container shiny-input-container-inline">
                    <div class="shiny-options-group btn-group" data-toggle="buttons">
                        <label class="btn btnMeasurments" id="highBtn">
                            <input type="checkbox" name="Escs" value="High"/>
                            <span>גבוה</span>
                        </label>
                        <label class="btn btnMeasurments" id="mediumBtn">
                            <input type="checkbox" name="Escs" value="Medium"/>
                            <span>בינוני</span>
                        </label>
                        <label class="btn btnMeasurments" id="lowBtn">
                            <input type="checkbox" name="Escs" value="Low"/>
                            <span>נמוך</span>
                        </label>
                        <!--<label class="btn btnMeasurments" id="">
                            <input type="checkbox" name="Escs" value=""/>
                            <span>הכל</span>
                        </label>-->
                    </div>
                </div>
            </div>
            <div id="genderDiv" class="col-xs-6 col-sm-4 col-md-3">
                <small>מגדר</small>
                <div id="Gender"
                     class="form-group shiny-input-checkboxgroup shiny-input-container shiny-input-container-inline">
                    <div class="shiny-options-group btn-group" data-toggle="buttons">
                        <label class="btn btnMeasurments" id="femaleBtn">
                            <input type="checkbox" name="Gender" value="Female"/>
                            <span>בנות</span>
                        </label>
                        <label class="btn btnMeasurments" id="maleBtn">
                            <input type="checkbox" name="Gender" value="Male"/>
                            <span>בנים</span>
                        </label>
                        <label class="btn btnMeasurments" id="generalBtn">
                            <input type="checkbox" id="Gender" value="General" checked="checked"/>
                            <span>הכל</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3">
                <div id="worldOrIsrael" class="form-group shiny-input-radiogroup shiny-input-container">
                    <form class="form-horizontal" method="post" action="">
                        <div data-toggle="buttons">
                            <label class="control-label" for="worldOrIsrael"></label>
                            <div class="shiny-options-group">
                                <label class="radio btn text-center btn-countries active ">
                                    <input type="radio" name="worldOrIsrael" value="World" checked="checked"/>
                                    <span>מדינות</span>
                                </label>
                                &nbsp;
                                <label class="radio btn text-center btn-countries">
                                    <input type="radio" name="worldOrIsrael" value="Israel"/>
                                    <span>ישראל</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="countriesDashboard" class="row text-center">
            <div class="hidden-xs col-sm-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="Country4"></label>
                    <div>
                        <select id="Country4">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="Country4">{}</script>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="Country3"></label>
                    <div>
                        <select id="Country3">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="Country3">{}</script>
                    </div>
                </div>

            </div>
            <div class="hidden-xs col-sm-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="Country2"></label>
                    <div>
                        <select id="Country2">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="Country2">{}</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group shiny-input-container">
                    <label class="control-label" for="Country1"></label>
                    <div>
                        <select id="Country1">
                            <option value="" selected></option>
                        </select>
                        <script type="application/json" data-for="Country1">{}</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Scores-->
<section>
    <div id="scores" class="container-fluid">
        <div class="row" style="direction: ltr">
            <div class="hidden-xs col-sm-3 ">
                <div id="Country4Plot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3 ">
                <div id="Country3Plot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3 ">
                <div id="Country2Plot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="col-sm-3 ">
                <div id="Country1Plot" class="plotly html-widget html-widget-output"></div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-xs-12 text-center">
                סולם הציונים מחולק לרמות בקיאות המייצגות שינוי איכותי ברמת האוריינות. כל רמה מאפיינת רמה ידע ומיומנויות
                שונות כדלקמן:
            </div>

            <div id="ExplenationTable" class="shiny-html-output col-xs-10"></div>
            <div id="LevelNumberDiv" class="form-group shiny-input-container col-xs-2">
                <spin>רמת בקיאות</spin>
                <input id="LevelNumber" type="number" class="form-control" value="3" min="1" max="6" step="1"/>
            </div>

        </div>
    </div>
</section>
<!--Expertise-->
<section>
    <div id="expertise" class="container-fluid">
        <div class="row text-center" style="height: 30px; margin-top: 30px">
            <div class="col-xs-5" style="border-bottom: 1px solid #c7c7c7; left: 10px;"></div>
            <div class="col-xs-2" style="color: #777777; margin-top: -10px; font-size: 16px">
                <span>מצטיינים</span></div>
            <div class="col-xs-5 " style="border-bottom: 1px solid #c7c7c7; right: 10px; "></div>
        </div>
        <div class="row" style="direction: ltr">
            <div class="hidden-xs col-sm-3 ">
                <div id="Country4HighPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3 ">
                <div id="Country3HighPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3 ">
                <div id="Country2HighPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="col-sm-3">
                <div id="Country1HighPlot" class="plotly html-widget html-widget-output"></div>
            </div>
        </div>
        <div class="row text-center" style="height: 30px; margin-top: 30px">
            <div class="col-xs-5" style="border-bottom: 1px solid #c7c7c7; left: 10px;"></div>
            <div class="col-xs-2" style="color: #777777; margin-top: -10px; font-size: 16px">
                <span>מתקשים</span></div>
            <div class="col-xs-5 " style="border-bottom: 1px solid #c7c7c7; right: 10px; "></div>
        </div>
        <div class="row" style="direction: ltr">
            <div class="hidden-xs col-sm-3">
                <div id="Country4LowPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3">
                <div id="Country3LowPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3">
                <div id="Country2LowPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="col-sm-3">
                <div id="Country1LowPlot" class="plotly html-widget html-widget-output"></div>
            </div>
        </div>
    </div>
</section>
<!--Survey-->
<section>
    <div id="survey" class="container-fluid">
        <div class="row col-sm-12 col-md-12" style="height: 30px; "></div>
        <div class="row" style="direction: ltr">
            <div class="hidden-xs col-sm-3">
                <div id="Country4SurveyPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3">
                <div id="Country3SurveyPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="hidden-xs col-sm-3">
                <div id="Country2SurveyPlot" class="plotly html-widget html-widget-output"></div>
            </div>
            <div class="col-sm-3">
                <div id="Country1SurveyPlot" class="plotly html-widget html-widget-output"></div>
            </div>
        </div>
        <br/>
        <p>הנתונים באקלים מבוססים על דיווח עצמי של תלמידים ועשויים להיות מושפעים מהטיות שונות כגון רצייה חברתית ונוהגים
            תרבותיים.</p>
        <!--<p id="SurveySelectedIDOutput" class="shiny-text-output"></p>-->
    </div>
</section>
<!--Analyze-->
<section>
    <!--<div id="analyze" class="container-fluid">
                       <div class="row" style="direction: ltr">
                          <div class="col-xs-3 ">
                            <div id="Country1AnalyzePlot" class="plotly html-widget html-widget-output">
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-3">
                          <div id="Country2AnalyzePlot" class="plotly html-widget html-widget-output">
                          </div>
                      </div>
                      <div class="hidden-xs col-sm-3">
                          <div id="Country3AnalyzePlot" class="plotly html-widget html-widget-output">
                          </div>
                      </div>
                      <div class="hidden-xs col-sm-3">
                          <div id="Country4AnalyzePlot" class="plotly html-widget html-widget-output">
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-xs-2 col-sm-6 "></div>
                      <div class="col-xs-5 col-sm-3">
                          <form>
                              <div class="form-group shiny-input-container">
                                  <span>משתנים</span>
                                  <select style="display: none;" tabindex="-1" id="analyzeVariables"
                                  class="form-control selectized shiny-bound-input"
                                  multiple="multiple">
                              </select>
                              <script type="application/json" data-for="analyzeVariables">{}</script>
                          </div>
                      </form>
                  </div>
                  <div class="col-xs-5 col-sm-3 ">
                      <div class="form-group shiny-input-container">
                          <span>מודל סטטיסטי</span>
                          <select id="ModelId">
                          </select>
                          <script type="application/json" data-for="ModelId">{}</script>
                      </div>
                  </div>
              </div>
    <div class="row">
          <div id="pisaScoresTable" style="width:80%; height:auto; "
          class="datatables html-widget html-widget-output"></div>
      </div>
  </div>
  -->
</section>
<!--About-->
<section>
    <div id="about" class="container-fluid">
        <h1>אודות</h1>
        <p>פיז"ה פתוח הוא מיזם משותף ל<a href="http://www.trump.org.il/">קרן טראמפ</a> ו<a
                href="http://infosoc.haifa.ac.il/index.php/he/">למרכז לחקר האינטרנט באוניברסיטת חיפה</a>.
        </p>
        <p>
            מטרת המיזם היא הנגשה של נתוני מבחן פיז"ה לציבור ולחוקרים.
        </p>
        <p>
            מבחן פיז"ה בוחן את כישוריהם של תלמידים בני 15 לקראת חיים בוגרים ועצמאיים. המבחן מתמקד במקצועות מתמטיקה,
            מדעים וקריאה. המבחן מתקיים משנת 2000 במחזורים של 3 שנים ומנוהל על ידי ה-OECD. הוא כולל למעלה מ-80 מדינות
            וכחצי מיליון תלמידים בכל מחזור. בישראל נבחנים כ-5000 תלמידים.
        </p>
        <p>
            פיז"ה פתוח מציג את הנתונים לאורך השנים ומאפשר לפלח בין מגזרים, להשוות בין מדינות ולנתח השפעות של גורמים
            שונים.
        </p>
        <p>
            זוהי מערכת ראשונה מסוגה בעולם ואנו תקווה שהיא תקדם את השיח והמחקר של מערכת החינוך הישראלית ושל חינוך מבוסס
            ראיות.
        </p>
        <p>
            צוות הפרויקט:
        <ul>
            <li>מנהל: פרופ' <a href="http://rafaeli.net/">שיזף רפאלי</a></li>
            <li>מנהלת מחקר, תכנון ופרויקטים אקדמיים: ד"ר עו"ד עדי ליבסקר</li>
            <li>מחקר, אפיון ופיתוח: <a href="http://avnerkantor.com">אבנר קנטור</a></li>
            <li>הדמיית נתונים: <a href="http://infoserviz.co.il/">בלה גוטיה, חברת InfoserViz</a></li>
        </ul>
        <p>
            ליצירת קשר: avnerkantor@gmail.com
        </p>

        <div>

        </div>
    </div>
    <!--
    <iframe width="800" height="1200" frameborder="0" scrolling="no" src="http://blog.tikhinuch.org"></iframe>

-->
</section>
</body>
</html>
