/*@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);*/

html,
body {
    /*background-color:  "white" ;*/
    /*height: 100%;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    direction: rtl;
    /*min-width: 100%;*/
    /*margin-right: 5px;*/
    /*margin-right: 5px;*/
    /*margin-left: 5px;*/
    font-family: 'OpenSansHebrewRegular', sans-serif;
    background-image: url("/static/img/bg.jpg");
    position: relative;
    margin: 0;
    z-index: 1;
}

/*navbar*/
nav {
    background-image: url("/static/img/bg.jpg");
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li.active a {
    border-bottom: 1px solid #777777;
}

/*heaer*/

.header {
    margin-right: -31px;
    margin-left: 0px;
}

#header-image {

    background-image: url("/static/img/PISA_TopBG.jpg");
    background-position: right;
    width: 100%;
    height: 150px;
    right: 10px;
    /*width: 90%;
    position: absolute;
    top: 120px;
    */
}

#text-image {
    color: #fff;
    font-size: 36pt;
    margin-top: -64px;

}

a, a:hover{
    color:black;
}
/*!*.disqus-footer{*!*/
/*!*display: none;*!*/
/*!*}*!*/

