@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

html,
body {
    /*background-color:  "white" ; */
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;

    /*margin-right: 5px;*/
    /*margin-right: 5px;*/
    /*margin-left: 5px;*/
    font-family: 'OpenSansHebrewRegular', sans-serif;
    background-image: url("img/bg.jpg");
    direction: rtl;
    position: relative;
    margin: 0;
    z-index: 1;
}

/* Large desktop */
@media (min-width: 1200px) {
    .selectize-input {
        width: 150%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .selectize-input {
        width: 130%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .selectize-input {
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .selectize-input {
        width: 100%;
    }
}

#scores {
    padding-top: 530px;
    height: 300px;
}

#expertise {
    padding-top: 405px;
    height: 800px;
    padding-bottom: 100px;
}

#survey {
    padding-top: 530px;
    height: 300px;
    padding-bottom: 100px;
}

#about {
    padding-top: 530px;
    height: 300px;
}

/*navbar*/
nav {
    background-image: url("img/bg.jpg");
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li.active a {
    border-bottom: 1px solid #777777;
}

/*heaer*/

.header {
    margin-right: -31px;
    margin-left: 0px;
}

#header-image {
    background-image: url("img/PISA_TopBG.jpg");
    background-position: right;
    width: 100%;
    height: 150px;
    right: 10px;
    /*width: 90%;
    position: absolute;
    top: 120px;
    */
}

#text-image {
    color: #fff;
    font-size: 36pt;
    margin-top: -64px;
}

#underHeaderText {
    right: 10px;
    font-size: 18pt;
}

/*subject items*/
.subjectImage {
    width: 27px;
    height: 27px;
    margin-right: -5px;
    margin-top: 5px;
}

.subjectButtons {
    width: 80px;
    float: right;
}

.btn-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    background-color: #E0E0E0;
    border-color: #777777;
}

.btn-circle.btn-lg:active,
.btn-circle.btn-lg.active {
    background-color: #777777;
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

.btn-circle.btn-lg:hover,
.btn-circle.btn-lg.hover {
    background-color: #777777;
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

.radio input {
    display: none;
}

.radio-inline input {
    display: none;
}

/*dashboard buttons*/
input[type="checkbox"] {
    display: none;
}

.btnMeasurments {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

.btn.btnMeasurments.active,
.btn.btnMeasurments:hover {
    color: #FFFFFF;
    border-width: 2px;
    border-color: #777777;
}

#generalBtn.active,
#generalBtn:hover {
    background-color: #b276b2;
}

#maleBtn.active,
#maleBtn:hover {
    background-color: #5da5da;
}

#femaleBtn.active,
#femaleBtn:hover {
    background-color: #f17cb0;
}

#lowBtn.general.active,
#lowBtn.general:hover {
    background-color: #bc99c7;
}

#mediumBtn.general.active,
#mediumBtn.general:hover {
    background-color: #b276b2;
}

#highBtn.general.active,
#highBtn.general:hover {
    background-color: #7b3a96;
}

#lowBtn.female.active,
#lowBtn.female:hover {
    background-color: #f6aac9;
}

#mediumBtn.female.active,
#mediumBtn.female:hover {
    background-color: #f17cb0;
}

#highBtn.female.active,
#highBtn.female:hover {
    background-color: #e5126f;
}

#lowBtn.male.active,
#lowBtn.male:hover {
    background-color: #88bde6;
}

#mediumBtn.male.active,
#mediumBtn.male:hover {
    background-color: #5da5da;
}

#highBtn.male.active,
#highBtn.male:hover {
    background-color: #265dab;
}

#lowBtn.male.female, #lowBtn.male.female:hover {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

#mediumBtn.male.female, #mediumBtn.male.female:hover {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

#highBtn.male.female, #highBtn.male.female:hover {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

/*TODO if has only general class*/
#measurmentsDashboard {
    margin-left: 15px;
}

#theWell {
    background-color: white;
    /*line-height: 0.9;*/
    border-width: 1px;
    border-color: #c7c7c7;
    border-radius: 0;
    height: 52px;
    margin-top: 16px;
    margin-left: -15px;
    margin-right: 15px;
}

/*countries*/

.btn-countries {
    background-color: #E0E0E0;
    border-color: #c7c7c7;
    border-width: 1px;
    border-radius: 0;
    font-size: 16pt;
    color: #777777;
    float: right;
    /*width: 30%;*/
}

.btn-countries:active,
.btn-countries.active {
    background-color: #777777;
    color: #FFFFFF;
}

.btn-countries:hover,
.btn-countries.hover {
    background-color: #777777;
}

.selectize-input {
    border-radius: 0;
    line-height: 1.333333333;
    font-size: 18pt;
    color: #777777;
}

.plotly {
    height: 200px;
}

#levelNumber {
    width: 60px;
}

.hovertext {
    direction: ltr !important;
}

.hovertext text {
    font-size: 15px !important;
}

.legendtext {
    font-size: 30px !important;
}

.js-plotly-plot .plotly .modebar {
    z-index: 0;
}