{% extends 'tikhinuch4/base.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            <div dir="rtl" style="text-align: right; font-size: large" trbidi="on">
                פרויקט תיק חינוך מפותח ב<a href="http://infosoc.haifa.ac.il/index.php/he/">מרכז לחקר האינטרנט
                באוניברסיטת חיפה</a> בתמיכתה הנדיבה של <a href="http://www.trump.org.il/">קרן טראמפ</a>.<br/>
                <br/>
                אנו מקווים שהמערכת תעודד את השימוש בנתוני מבחן פיז"ה ותקדם שיח חינוכי מבוסס ראיות.<br/>
                <br/>
                צוות הפרויקט:<br/>
                מנהל: <a href="http://rafaeli.net/">פרופ' שיזף רפאלי</a><br/>
                מנהלת מחקר, תכנון ופרויקטים אקדמיים: <a
                    href="http://infosoc.haifa.ac.il/index.php/he/about/contact-us">ד"ר עו"ד עדי ליבסקר</a><br/>
                מפתח: <a href="http://avnerkantor.com">אבנר קנטור</a></div>
            <br/>
            <hr>
            <a href="https://github.com/avnerkantor/tikhinuch">לקוד המקור של המערכת</a>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}
<!-- Title -->
