{% extends 'tikhinuch4/base.html' %}
{% block title %}אודות{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.text|safe }}</p>
                {% load disqus_tags %}
                {% disqus_show_comments %}
            </div>
            <div class="col-xs-3">
                <div class="well">
                    <h4>חיפוש בבלוג</h4>
                    <form method="GET" action="/">
                        <div class="input-group">
                            <input id="home_search" type="text" class="form-control" name='q' placeholder="חיפוש רשומות"
                                   value="{{ request.get.q }}">
                            <input type='submit' value='חפש'>
                        </div>
                    </form>
                </div>
                <div class="well">
                    <h4>רשומות אחרונות</h4>
                    <div class="row">
                        <ol>
                            {% for post in recentposts %}
                                <li><a href="{% url 'blog:post_detail' slug=post.slug %}">
                                    {{ post.title }}
                                </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="well">
                    <button onclick="location.href='http://eepurl.com/coX6Er'" type="button">
                        הרשמה לרשימת תפוצה
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}