{% extends 'blog/base.html' %}


{% block content %}
        <div class="masthead">

      <div class="container">

        <h1 class="masthead-subtitle">
          חקור
        </h1>


      </div> <!-- /.container -->

    </div> <!-- /.masthead -->
      <div class="content">

    <div class="container">

        <div class="row">
               <div class="portlet portlet-default">

              <div class="portlet-header">
                <h4 class="portlet-title">
                  Descriptive
                </h4>
              </div> <!-- /.portlet-header -->

              <div class="portlet-body">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, fugiat, dolores, laborum sit.</p>
{#                    <iframe src='https://avnerkantor.shinyapps.io/tikhinuchV6?Tab=General&Language=English&Subject=Mathematics' width="768px" height="600px" frameborder="0" scrolling="no" ></iframe>#}
                    <iframe src='http://104.155.66.98/shiny/' width="768px" height="600px" frameborder="0" scrolling="no" ></iframe>

                <hr>
               </div>

                <div class="portlet-header">
                <h4 class="portlet-title">
                  Analysis
                </h4>
              </div> <!-- /.portlet-header -->

              <div class="portlet-body">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, fugiat, dolores, laborum sit.</p>
{#                    <iframe src='https://avnerkantor.shinyapps.io/tikhinuchV6?Tab=Analyse&Language=English' width="768px" height="600px" frameborder="0" scrolling="no" ></iframe>#}

                <hr>
               </div>

                <div class="portlet-header">
                <h4 class="portlet-title">
                  Dictionary
                </h4>
              </div> <!-- /.portlet-header -->

              <div class="portlet-body">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, fugiat, dolores, laborum sit.</p>
{#                    <iframe src='https://avnerkantor.shinyapps.io/tikhinuchV6?Tab=Dictionary&Language=English' width="850px" height="800px" frameborder="0" scrolling="no" ></iframe>#}

                <hr>
               </div>

               </div>
        </div>
    </div>
  </div>

{% endblock content %}




