{% extends 'blog/en/base-en.html' %}


{% block content %}



    <div class="masthead">

      <div class="container">

        <h1 class="masthead-subtitle">
          Feature Tour
        </h1>

      </div> <!-- /.container -->

    </div> <!-- /.masthead -->


    <div class="content">


        <section class="content-feature">

          <div class="container">



            <div class="heading-block heading-minimal heading-center">
              <h1>Many Great Features & Benefits</h1>
            </div>

            <div class="text-center">
              <img src="./img/tour-features/featured-macbook.jpg" class="img-responsive center-block" alt="">
            </div>

            <br class="xs-10">

            <div class="row">

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-anchor feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Consectetur adipisicing</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-ils feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Dolore magna aliqua</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-gift feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Minim veniam</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->




            <div class="row">

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-code feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Nostrud exercitation</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-comments-o feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Sed do eiusmod</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-cloud-download feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Adipisicing elit</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->



            <div class="row">

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-crosshairs feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Quis nostrud exercitation</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-rocket feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-sm">
                  <i class="fa fa-star feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Enim ad minim</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.
                  </p>
                </div> <!-- /.feature-sm -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->

          </div>


        </section>





        <section class="content-feature ui-lightbox-gallery">

          <div class="container">

            <div class="heading-block heading-minimal heading-center">
              <h1>Visual App Guide</h1>
            </div>


            <div class="row">

              <div class="col-sm-4">
                <div class="feature-grab">

                  <div class="thumbnail-view">
                    <a class="thumbnail-view-hover" href="./img/tour-features/visual-full-1.jpg" title="Dashboard">
                      <i class="fa fa-plus"></i>
                    </a>

                    <img src="./img/tour-features/visual-thumb-1.jpg" class="" alt="">
                  </div> <!-- /.thumbnail-view -->

                  <h4>Screenshot Title #1</h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora cupiditate cumque iste magnam saepe incidunt? Blanditiis doloribus.</p>
                </div> <!-- /.feature-grab -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-grab">
                  <div class="thumbnail-view">
                    <a class="thumbnail-view-hover" href="./img/tour-features/visual-full-2.jpg" title="Profile">
                      <i class="fa fa-plus"></i>
                    </a>

                    <img src="./img/tour-features/visual-thumb-2.jpg" class="" alt="">
                  </div> <!-- /.thumbnail-view -->

                  <h4>Screenshot Title #2</h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora cupiditate cumque iste magnam saepe incidunt? Blanditiis doloribus.</p>
                </div> <!-- /.feature-grab -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-grab">
                  <div class="thumbnail-view">
                    <a class="thumbnail-view-hover" href="./img/tour-features/visual-full-3.jpg" title="Charting">
                      <i class="fa fa-plus"></i>
                    </a>

                    <img src="./img/tour-features/visual-thumb-3.jpg" class="" alt="">
                  </div> <!-- /.thumbnail-view -->

                  <h4>Screenshot Title #3</h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora cupiditate cumque iste magnam saepe incidunt? Blanditiis doloribus.</p>
                </div> <!-- /.feature-grab -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->




            <div class="row">

              <div class="col-sm-4">
                <div class="feature-grab">
                  <div class="thumbnail-view">
                    <a class="thumbnail-view-hover" href="./img/tour-features/visual-full-4.jpg" title="Dashboard #2">
                      <i class="fa fa-plus"></i>
                    </a>

                    <img src="./img/tour-features/visual-thumb-4.jpg" class="" alt="">
                  </div> <!-- /.thumbnail-view -->

                  <h4>Screenshot Title #4</h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora cupiditate cumque iste magnam saepe incidunt? Blanditiis doloribus.</p>
                </div> <!-- /.feature-grab -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-grab">
                  <div class="thumbnail-view">
                    <a class="thumbnail-view-hover" href="./img/tour-features/visual-full-5.jpg" title="Datatables Plugin">
                      <i class="fa fa-plus"></i>
                    </a>

                    <img src="./img/tour-features/visual-thumb-5.jpg" class="" alt="">
                  </div> <!-- /.thumbnail-view -->

                  <h4>Screenshot Title #5</h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora cupiditate cumque iste magnam saepe incidunt? Blanditiis doloribus.</p>
                </div> <!-- /.feature-grab -->
              </div> <!-- /.col -->

              <div class="col-sm-4">
                <div class="feature-grab">
                  <div class="thumbnail-view">
                    <a class="thumbnail-view-hover" href="./img/tour-features/visual-full-6.jpg" title="Popups & Alerts">
                      <i class="fa fa-plus"></i>
                    </a>

                    <img src="./img/tour-features/visual-thumb-6.jpg" class="" alt="">
                  </div> <!-- /.thumbnail-view -->

                  <h4>Screenshot Title #6</h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora cupiditate cumque iste magnam saepe incidunt? Blanditiis doloribus.</p>
                </div> <!-- /.feature-grab -->
              </div> <!-- /.col -->

            </div> <!-- /.row -->

          </div>

        </section>









        <section class="content-feature">

          <div class="container">

            <div class="heading-block heading-minimal heading-center">
              <h1>Mobile Benefits Feature</h1>
            </div>


            <div class="row">
              <div class="col-sm-4">


                <br class="md-50 lg-100">

                <div class="feature-sm">
                  <i class="fa fa-rocket feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div> <!-- /.feature-sm -->

                <div class="feature-sm">
                  <i class="fa fa-bolt feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div> <!-- /.feature-sm -->

                <div class="feature-sm">
                  <i class="fa fa-check feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div> <!-- /.feature-sm -->

              </div>

              <div class="col-sm-4 col-sm-push-4">


                <br class="md-50 lg-100">

                <div class="feature-sm">
                  <i class="fa fa-comment-o feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div> <!-- /.feature-sm -->

                <div class="feature-sm">
                  <i class="fa fa-fighter-jet feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div> <!-- /.feature-sm -->

                <div class="feature-sm">
                  <i class="fa fa-smile-o feature-sm-icon text-secondary"></i>

                  <h3 class="feature-sm-label">Incididunt ut labore</h3>

                  <p class="feature-sm-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div> <!-- /.feature-sm -->

              </div>

              <div class="col-sm-4 col-sm-pull-4 text-center">
                <img src="./img/tour-features/featured-mobile.png" class="img-responsive img-center" alt="">
              </div>

            </div>

          </div>

        </section>


    </div> <!-- /.content -->



{% endblock content %}

