{% extends 'tikhinuch4/base.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            <h1>{{ post.title }}</h1>
            <p class="lead">
                {# <a href="javascript:;"></a>                   #}
                מאת {{ post.author }}
            </p>
            <hr>
            {% if post.published_date %}
                <p><p>פורסם ב-{{ post.published_date }}</p></p>
            {% endif %}
            <hr>
            <p>{{ post.text|safe }}</p>
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
    </div>
{% endblock %}
