{% extends 'tikhinuch4/base.html' %}
{% block title %}פיז"ה פתוח|בלוג{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                {% for post in posts %}
                    <a href="{% url 'blog:post_detail' slug=post.slug %}">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.summary }}</p>
                    </a>
                    <p>
                        מאת {{ post.author }}
                        <span class="glyphicon glyphicon-time"></span>
                        פורסם ב-{{ post.published_date }}
                    </p>
                    <hr>
                {% endfor %}
                <div class="col-md-9">
                    <br><br><br>

                    <span class="previous">
                    {% if posts.has_previous %}
                        <a href="?{{ page_request_var }}=


                                {{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">עמוד קודם</a>
                    {% endif %}
                </span>
                    <span class="current">
                        עמוד {{ posts.number }} מתוך {{ posts.paginator.num_pages }}
                    </span>
                    <span class="next">
                    {% if posts.has_next %}
                        <a href="?{{ page_request_var }}=
                                {{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">לעמוד הבא</a>
                    {% endif %}
                </span>
                    <br><br>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="well">
                    <h4>חיפוש בבלוג</h4>
                    <form method="GET" action="">
                        <div class="input-group">
                            <input id="home_search" type="text" class="form-control" name='q' placeholder="חיפוש רשומות"
                                   value="{{ request.get.q }}">
                            <input type='submit' value='חפש' a>
                        </div>
                    </form>
                </div>
                <div class="well">
                    <h4>רשומות אחרונות</h4>
                    <div class="row">
                        <ol>
                            {% for post in recentposts %}
                                <li><a href="{% url 'blog:post_detail' slug=post.slug %}">
                                    {{ post.title }}
                                </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
{#                <div class="well">#}
{#                    <button onclick="location.href='http://eepurl.com/coX6Er'" type="button">#}
{#                        הרשמה לרשימת תפוצה#}
{#                    </button>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}