{#{% load i18n %}#}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
<div class="container-fluid">
{{ post.text|safe }}
</div>
</body>
</html>