{#{% load i18n %}#}
{% load static from staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
{#להקליק את הנתונים. לבחון את פיזה.#}
{#   <title> {% block title %}תיק חינוך - לראות נתונים{% endblock %}</title>#}
<title> {% block title %}תיק חינוך - בוחנים את פיז"ה{% endblock %}</title>
    <meta charset="utf-8">
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=' תיק חינוך היא יוזמה משותפת לקרן טראמפ ולמרכז לחקר האינטרנט באוניברסיטת חיפה שמטרתה להנגיש לציבור ולחוקרים את תמונת החינוך בישראל כפי שהיא משתקפת בנתוני מבחן פיז"ה הבינלאומי. '>
    <meta name="author" content="אבנר קנטור">

    <!-- Google Font: Open Sans -->
    <link rel="stylesheet" href="{% static "css/opensans.css" %}">
    <link rel="stylesheet" href="{% static "css/Oswald.css" %}">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-rtl.min.css" %}">

    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">

    {#    <link rel="stylesheet" href="{% static "css/vegas.min.css" %}">#}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <!-- Favicon -->
    <link rel="short/cut icon" href="{% static "img/bag-512.png" %}">

    {#      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#  <!--[if lt IE 9]>#}
    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>

</head>

<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top nav-tabs" role="tablist">
    <div class="container-fluid" id="mainmainNAV">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                <span class="sr-only">ניווט</span> תפריט <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li>-->
                <!--<a class="page-scroll" href="#en">אנגלית</a>-->
                <!--</li>-->
                <li>
                <a class="page-scroll" href="/">בלוג</a>
                </li>
                <li>
                    <a class="page-scroll" href="http://tikhinuch.org#about">אודות</a>
                </li>
                <!--<li>-->
                <!--<a class="page-scroll" href="#analyze">ניתוח</a>-->
                <!--</li>-->
                <li>
                    <a class="page-scroll" href="http://tikhinuch.org#survey">אקלים</a>
                </li>
                <!--<li>-->
                <!--<a class="page-scroll" href="#heterogeneity">פיזור</a>-->
                <!--</li>-->
                <li>
                    <a class="page-scroll" href="http://tikhinuch.org#expertise">בקיאות</a>
                </li>
                <li>
                    <a class="page-scroll" href="http://tikhinuch.org#scores">הישגים</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div>
        <div id="header-image"></div>
        <div id="text-image">מה מספר מבחן פיז"ה על החינוך</div>
    </div>
</header>

 {% block content %}

 {% endblock %}
<!-- Core JS -->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<script src="{% static "js/jquery.slimscroll.min.js" %}"></script>


<!-- App JS -->
<script src="{% static "js/custom.js" %}"></script>
     <script src="{% static "js/jquery.js" %}"></script>
</body>


</html>