{% extends 'tikhinuch4/base.html' %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <h1>
                    מה מצב החינוך בישראל?
                </h1>

                <!-- First Blog Post לגלות הישגים, לבחון מדדים -->
                                <h2>
                                    <a href="http://130.211.111.52/shiny/tikhinuch/?tab=Pisa1b" target="pisa_iframe">האם ההישגים בעליה</a>
                                    <a href="http://130.211.111.52/shiny/tikhinuch/?tab=Pisa2" target="pisa_iframe" style="color: red">מה התלמידים מספרים</a>
                                    <a href="http://130.211.111.52/shiny/tikhinuch/?tab=Analyze" target="pisa_iframe" style="color: coral">מה מראים המדדים</a>

                                </h2>
                                <iframe style="width: 100%; height: 100vh; frameborder:0; scrolling:no"
                                            ; src="http://130.211.111.52/shiny/tikhinuch/?tab=Pisa1b" name="pisa_iframe"></iframe>
{#                <h2><a id="PisaLink" href="javascript:void(0);">האם ההישגים בעליה</a>#}
{#                    <a id="Pisa2Link" href="javascript:void(0);" style="color:red;">מה מספרים התלמידים</a>#}
{#                    <a id="AnalyzeLink" href="javascript:void(0);" style="color: coral">מה מראים המדדים</a>#}
{#                </h2>#}
{#                <div id="Pisa">#}
{#                    <iframe style="width: 100%; height: 100vh;frameborder:0; scrolling:no"#}
{#                            ; src="http://130.211.111.52/shiny/tikhinuch/?tab=Pisa1b"></iframe>#}
{#                </div>#}
{#                <div id="Pisa2">#}
{#                    <iframe style="width: 100%; height: 100vh;frameborder:0; scrolling:no"#}
{#                            ; src="http://130.211.111.52/shiny/tikhinuch/?tab=Pisa2"></iframe>#}
{#                </div>#}
{#                <div id="Analyze">#}
{#                    <iframe style="width: 100%; height: 100vh;frameborder:0; scrolling:no"#}
{#                            ; src="http://130.211.111.52/shiny/tikhinuch/?tab=Analyze"></iframe>#}
{#                </div>#}
{#                <div id="Search">#}
{#                    <iframe style="width: 100%; height: 100vh;frameborder:0; scrolling:no"#}
{#                            ; src="http://130.211.111.52/shiny/tikhinuch/?tab=Search"></iframe>#}
{#                </div>#}
{#                <h3 dir="ltr">#}
{#                 <a id="SearchLink" href="javascript:void(0);" style="color: black; " >מילון המשתנים</a></h3>#}
{##}
                <h2 dir="ltr"><a href="http://130.211.111.52/shiny/tikhinuch/?tab=Search" target="pisa_iframe" style="color: black">מילון משתנים</a></h2>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h4><a href="/about">מהו תיק חינוך</a></h4>

                    <p> תיק חינוך היא יוזמה משותפת לקרן טראמפ ולמרכז לחקר האינטרנט באוניברסיטת חיפה שמטרתה להנגיש לציבור
                        ולחוקרים את תמונת החינוך בישראל כפי שהיא משתקפת בנתוני מבחן פיז"ה הבינלאומי. </p>

                    <p>זוהי מערכת ראשונה מסוגה בעולם אשר מאפשרת ללמוד את הגורמים המשפיעים והמעצבים את החינוך. </p>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4><a href="/blog">רשומות אחרונות</a></h4>

                    <div class="row">
                        <div class="col-lg-6">
                            {#                            <ul class="list-unstyled">#}
                            {% for post in recentposts %}
                                {#                                    <li><i class="fa-li fa fa-chevron-left"></i> #}
                                <span>
                                    <a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></span>
                                {#                                    </li>#}
                                <br>
                            {% endfor %}
                            {##}
                            {#                            </ul>#}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>


                <!-- Side Widget Well -->
                <!-- Blog Search Well -->
                <div class="well">
                    <h4><a href="#">קול קורא</a></h4>

                    בקרוב.
                    <!-- /.input-group -->
                </div>


            </div>

        </div>
    </div>

{% endblock content %}