{% extends 'tikhinuch4/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-md-9">


                <h1 style="text-align: center">מה מספר מבחן פיז"ה על ישראל?</h1>

                                <iframe style="width: 100%; height:140vh; frameborder:0; scrolling:no"
                                        ; src="http://130.211.111.52/shiny/tikhinuch1/?tab=Pisa1" name="pisa_iframe"
                                        id="myiframe"></iframe>

            </div>
            <div class="col-md-3">
                <div class="well">
                    <h4><a href="/about">מהו תיק חינוך</a></h4>

                    <p> תיק חינוך היא יוזמה משותפת לקרן טראמפ ולמרכז לחקר האינטרנט באוניברסיטת חיפה שמטרתה להנגיש לציבור
                        ולחוקרים את תמונת החינוך בישראל כפי שהיא משתקפת בנתוני מבחן פיז"ה הבינלאומי. </p>

                    <p>זוהי מערכת ראשונה מסוגה בעולם אשר מאפשרת ללמוד את הגורמים המשפיעים והמעצבים את החינוך. </p>
                </div>

                <div class="well">
                    <h4><a href="/blog">רשומות אחרונות</a></h4>

                    <div class="row">
                        <ol>
                            {% for post in recentposts %}

                                <li><a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></li>


                            {% endfor %}
                        </ol>
                    </div>
                </div>
{#                <div class="well">#}
{#                    <h4><a href="/grunts">חדשות</a></h4>#}
{#                    פרטים בקרוב.#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock content %}